
body {
    margin: 0;
    background: #FEFFC3;
}

header {
    background-color: #A5D9DD;
    width: 100%;
    height: 100vp;
    flex-shrink: 0;
    color: #000;
    font-family: Work Sans;
    font-size: 17.333px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#Story-text {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17.333px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 0 10px;
}

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 295px;
    height: 229px;
    border-radius: 295px;
    background: #FFF;    
}

button img {
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
}

footer {
    background: #EDC8D6;
    width: 100%;
    height: 289px;
    flex-shrink: 0;
}

#emoticons-flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5% ;
    height: 100%;
}

.emotion-label {
    font-family: Work Sans;
    font-size: 150%;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0;
    max-width: 90%;
}

[src='../static/imgs/birthday.png'] {
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; 
    height: auto;
}

[src='../static/imgs/aquarium.png'] {
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 38%; 
    height: auto;
}

[src='../static/imgs/cinema.png'] {
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%; 
    height: auto;
}
