<!DOCTYPE html>
<html>
    <head>
        <title>ASD Proj</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/style.css" rel="stylesheet" >
    </head>
    <body>
        <!-- <button onclick="randomClickCounter()"> -->
            <header>2023 BMCC Tech Learning Community Internship</header>

            <img src="../static/imgs/happy.png" alt="happy-face">
            <p></p> 
            <footer>
                <div id="emoticons-flex-container">
                    <ellipse>
                        <button type="button" onclick="">
                            <img src="../static/imgs/happy-emoticon.png" />
                        </button>
                    </ellipse>
                    <ellipse>
                        <img src="../static/imgs/sad-emoticon.png"   />
                    </ellipse>
                    <ellipse>
                        <img src="../static/imgs/sick-emoticon.png"  />
                    </ellipse>
                </div>
            </footer>

        <!-- </button> -->
        <script src="../static/game1.js"></script>
    </body>
</html>