<!DOCTYPE html>
<html>
    <head>
        <title>ASD Proj</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/style.css" rel="stylesheet" >
    </head>
    <body>
        
            <!-- <button onclick="randomClickCounter()"> -->
                <header>2023 BMCC Tech Learning Community Internship</header>
                <footer></footer>
            
                <div id="emoticons-flex-container">
                
                    <button id="emotionGameButton"> 
                        <img src="../static/imgs/wheel.png"  alt="Picture of emotion wheel" />
                        <p class="emotion-label">EMOTIONS - LEARNING GAME</p>
                    </button>

                    <button id="emotionQuizButton"> 
                        <img src="../static/imgs/quiz.png"  alt="Picture of quiz" />
                        <p class="emotion-label">EMOTIONS - QUIZ</p>
                    </button>
                
                    <button id="conversationalAIButton"> 
                        <img src="../static/imgs/AI.png" alt="Picture of AI robot" />
                        <p class="emotion-label">CONVERSATIONAL AI</p>
                    </button>
                    
                </div>
        
        <!-- </button> -->
        <script src="../static/game1.js"></script>
    </body>
    <footer></footer>
</html>
