<!DOCTYPE html>
<html>
    <head>
        <title>ASD Proj</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/style.css" rel="stylesheet" >
    </head>
    <body>
            <!-- <button onclick="randomClickCounter()"> -->
        <header>2023 BMCC Tech Learning Community Internship</header>
        <footer></footer>

        <div id="emoticons-flex-container">
        
            <button onclick="joyful()">
                <img src="../static/imgs/joyful.png" alt="Joyful Emoji" />
                <p class="emotion-label">JOYFUL</p>
            </button>

            <!--<button onclick="goBackToGame()">
                <img src="../static/imgs/powerful.png" alt="Powerful Emoji" />
                <p class="emotion-label">POWERFUL</p>
            </button>

            <button onclick="goBackToGame()">
                <img src="../static/imgs/peaceful.png" alt="Peaceful Emoji" />
                <p class="emotion-label">PEACEFUL</p>
            </button>

            <button onclick="goBackToGame()">
                <img src="../static/imgs/scared.png" alt="Scared Emoji" />
                <p class="emotion-label">SCARED</p>
            </button>
        
            <button onclick="goBackToGame()"> 
                <img src="../static/imgs/sad-emoticon.png"  alt="Sad Emoji" />
                <p class="emotion-label">SAD</p>
            </button> -->
        
            <button onclick="mad()">
                <img src="../static/imgs/mad.png" alt="Mad Emoji" />
                <p class="emotion-label">MAD</p>
            </button>
        </div>
    <script src="../static/game1.js"></script>
    </body>
    <footer></footer>
</html>