<!DOCTYPE html>
<html>
    <head>
        <title>ASD Proj</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/style.css" rel="stylesheet" >
    </head>
    <body>
        
            <!-- <button onclick="randomClickCounter()"> -->
                <header>2023 BMCC Tech Learning Community Internship</header>
                <footer></footer>
            
                <div id="emoticons-flex-container">
                
                <h1>Try Again</h1>
                <p>Oops! Your answer was incorrect. Give it another shot!</p>
                <button onclick="goBackToGame()">Go back to game</button>
            
                </div>    
    <script src="../static/game1.js"></script>
    </body>
    <footer></footer>
</html>
