<!-- x_mad.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>ASD Proj</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/style.css" rel="stylesheet" >
    </head>
    <body>
        <!-- <button onclick="randomClickCounter()"> -->
            <header>2023 BMCC Tech Learning Community Internship</header>

            <img src="{{ image }}" alt="story-image">
            <p id="Story-text">{{ story }}</p>
            <footer>
                <div id="emoticons-flex-container">
                    <button type="button" onclick="checkAnswer('{{correctAnswer}}')">
                        <img src="../static/imgs/happy-emoticon.png" alt="Happy Emoji" />
                        <p class="emotion-label">{{correctAnswer}}</p>
                    </button>
                    <button type="button" onclick="checkAnswer('sad')"> 
                        <img src="../static/imgs/sad-emoticon.png"  alt="Sad Emoji" />
                        <p class="emotion-label">Sad</p>
                    </button>
                    <button type="button" onclick="checkAnswer('sick')">
                        <img src="../static/imgs/sick-emoticon.png" alt="Sick Emoji" />
                        <p class="emotion-label">Sick</p>
                    </button>
                </div>
            </footer>
                    
                </div>
            </footer>
    <script src="../static/game1.js"></script>
    </body>
</html>